@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*Font Tier List*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

#navbarMain {
    z-index: -3;
}

.searchBar {
    left: calc(50% - 5rem);
} 

#dropdown {
    z-index: -1;
    transition-duration: 1000ms ;
}
  
.underline-animation {
    position: relative;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #DC1867;
    transition: all 0.3s;
  }

  .underline-animation:hover::after {
    width: 100%;
  }
